*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    
}
.html{
    width: 100vw;
    height: 100vh;
}
body{
    background-color: rgb(33, 0, 0);
    color: rgb(255, 255, 255);
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
 font-size: 100px;
 margin: 10px 20px;
}
.menu{
    display: none;

}
.nav{
    display: block;
}
.nav ul{
    display: flex;
    

}
.nav li{
    margin: 10px;
    margin-left: 30px;
    list-style: none;
    font-size: 28px;
    cursor: pointer;
}

.nav li:hover{
    text-decoration: underline;
    
}
.close {
    display: flex;
    justify-content: end;
    cursor: pointer;
}
.sidenav{
    transform: translateX(-800px);
    position: absolute;
    height: 90vh;
    width: 30%;
top: 0;
padding: 50px;
transition: 1s;
color: black;
     background-color: rgb(123, 123, 123);
}
.sidenav li{
    color: black;
    list-style: none;
    margin: 30px;
    padding: 10px;
    cursor: pointer;
}

.sidenav li:hover{
    text-decoration: underline;
    
    
}
  .hero{
    display: flex;
    position: relative;
    display: flex;
    width: 100%;
    height: 80vh;
    position: relative;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     position: absolute; 
     right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
    width:40%;
}

.topic{
    font-size: 70px;
}

.startButton{


    cursor: pointer;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}
.content-quiz{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 24px;
    margin: 20px;
}

.startButton:hover{
    color: white;
    background-color: red;
} 
 
.popup{
    font-size: 26px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     position: absolute; 
     right: 0;
    left: 0;
    top: 0;
     bottom: 0;
   margin: auto;
    width:40%;
    background-color: rgb(146, 133, 154);
    color: black;
    font-weight: 700;
    height: 400px;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 6px 55px 23px rgba(0,0,0,0.75);
-webkit-box-shadow: 3px 6px 55px 23px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 6px 55px 23px rgba(0,0,0,0.75);
}
.cancel{
    font-size: 22px;
    padding: 10px;
    font-weight: 700;
    cursor: pointer;
} .continue{
    font-size: 22px;
    padding: 10px;
    font-weight: 700;
    cursor: pointer;
}

.quiz-section{
    position: relative;
    left: 0%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: .8s ease-in-out;
    transition-delay: .25s;
    background-color: rgb(64, 54, 53);
}
.quiz-title{
    font-size: 100px;
    color: rgb(0, 0, 0);
    margin: 50px;
}
.quiz-title__1{
    font-size: 35px;
}
.score{
    font-size: 35px;
    margin: 10px;
}
.question{
    font-size: 40px;
    margin: 30px;
}
.option{
    font-size: 28px;
    margin: 10px;
    border: solid black 1px;
    width: 600px;
    padding: 20px;
    cursor: pointer;
}
.option:hover{
    color: white;
    background-color:  rgb(33, 0, 0);
}
.quiz-footer{
font-size: 35px;
color: rgb(126, 126, 126);
}

.option2{
    font-size: 28px;
    margin: 10px;
    border: solid black 1px;
    width: 600px;
    padding: 20px;
    cursor: pointer;
}
.option2:hover{
    color: white;
    background-color:  rgb(33, 0, 0);
}
.quiz-footer{
font-size: 35px;
color: rgb(126, 126, 126);
}
.next{
    font-size: 28px;
    padding: 10px;
    background-color:  rgb(33, 0, 0);
    color: white;
    border: black solid 2px;
    cursor: pointer;
    font-weight: 100;
}

.result{
    display: flex;
    /* position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0; */
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
   font-size: 35px;
}

@media screen and (max-width: 700px) {
    .logo{
        font-size: 40px;
    }
  .nav{
    display: none;
  }
  .menu{
    display: block;
    cursor: pointer;
    margin: 0;
    margin-right: 10px;
  }

  .topic{
    font-size: 25px;
  }
  .hero{
   margin-right: 20px;
  }
.content{
    width: 80%;
    top: 100px;
    
}
  .content-quiz{
    font-size: 16px;
  }


  .startButton{
    font-size: 16px;
  }



  .popup{
    font-size: 18px;
    height: 200px;
    width: 250px;
  }
.cancel{
    font-size: 16px;
   
}
 .continue{
    font-size: 16px;
   
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}


.quiz-section{
    
    
    height: 100vh;
    
}
.quiz-title{
    font-size: 40px;
    color: rgb(0, 0, 0);
    margin: 20px;
}
.quiz-title__1{
    font-size: 20px;
}
.score{
    font-size: 12px;
    margin: 10px;
}
.question{
    font-size: 20px;
    margin: 30px;
}
.option{
    font-size: 18px;
    
    width: 300px;
    padding: 10px;
    
}

.quiz-footer{
font-size: 20px;
color: rgb(126, 126, 126);
}

.option2{
    font-size: 28px;
    margin: 10px;
    border: solid black 1px;
    width: 600px;
    padding: 20px;
    cursor: pointer;
}
.option2:hover{
    color: white;
    background-color:  rgb(33, 0, 0);
}
.quiz-footer{
font-size: 15px;
color: rgb(126, 126, 126);
}
.next{
    font-size: 18px;
    padding: 10px;
    background-color:  rgb(33, 0, 0);
    color: white;
    border: black solid 2px;
    cursor: pointer;
    font-weight: 100;
}

.result{
    display: flex;
    /* position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0; */
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
   font-size: 35px;
}
}